<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Destroy Confirmation for Course #{{id}}</title>
  </head>
  <body>
    <h2>Are you sure you want to delete the following course?</h2>
    <p>Name: {{course_name}}</p>
    <p>Description: {{description}}</p>
    <form action="/course/destroy/{{id}}" method="post">
      {% csrf_token %}
      <input type="submit" name="submit" value="no">
    </form>
    <form action="/course/destroy/{{id}}" method="post">
      {% csrf_token %}
      <input type="submit" name="submit" value="Yes! I want to delete this">
    </form>
  </body>
</html>
